#photography-hero   {
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/milessmith/image/upload/v1581226651/Personal%20Site/IMG_6348.jpg");
    background-position: 50% 30%;
}

#photo-content {
    background-color: rgba(100, 10, 10, .08);
}
#photo-content .image-wrapper {
    height: 100%;
    width: 100%;
    padding: 5px;
}
#photo-content .image-wrapper:hover {
    background-image: rgba(0, 0, 0, 0.2);
}

#photo-content .image-wrapper .img {
    border: 2px solid darkmagenta;
    border-radius: 5px;
    max-height:  500px;
}