/*About ME PAGE*/

#about-hero {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/milessmith/image/upload/v1654654797/Personal%20Site/IMG_3884_1.jpg");
    background-position: 90% 5%;
    
}
/*https://res.cloudinary.com/milessmith/image/upload/v1608785204/Personal%20Site/IMG_0893-2_1.jpg*/
#about-information .text-wrapper p, ul{
    font-size: 18px; 
    padding-top: 8px;
}

#about-information .image-wrapper{
    padding: 5px;
}
#about-information .image-wrapper img{
    border: 1px solid black;
    border-radius: 8px;
    
}

#about-information #gallery {
    padding: 15px;
}
#about-information #gallery .image-wrapper{
    width: 100%;
    height: 300px;
    border-radius: 4px;
    padding: 0;
}
#about-information #gallery .image-wrapper .image-item-text{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
     transition: 1s;
    opacity: 0;
}

#about-information #gallery #image-1 {
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1718803705/IMG_0562_x5vvat.jpg);
    background-position: center;
    background-size: cover;
}
#about-information #gallery #image-1:hover #image-text1 {
      transition: all 1s ease-in-out;
    display: block;
    opacity: .8;
}

#about-information #gallery #image-2{
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1662060905/Personal%20Site/prez.jpg);
    background-size: cover;
}
#about-information #gallery #image-2:hover #image-text2 {
    display: block;
    transition: all 1s;
        opacity: .8;

}

#about-information #gallery #image-3{
    /*background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1654654441/Personal%20Site/20211001_181824.jpg);*/
	background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1654654985/Personal%20Site/Snapchat-1831420117.jpg);
    background-size: cover;
}
#about-information #gallery #image-3:hover #image-text3 {
    display: block;
    transition: all 1s;
    opacity: .8;
}


#about-information #gallery #image-4{
    /*background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1654654423/Personal%20Site/20210520_162253.jpg);*/
    background-size: cover;
    background-position: 50%
}
#about-information #gallery #image-4:hover #image-text3 {
    display: block;
    transition: all 1s;
    opacity: .8;
}

#about-information #gallery #image-5{
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1654654417/Personal%20Site/IMG_0160.jpg);
    background-size: cover;
}
#about-information #gallery #image-5:hover #image-text3 {
    display: block;
    transition: all 1s;
    opacity: .8;
}


#about-information #gallery #image-6{    
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1654654985/Personal%20Site/Snapchat-1831420117.jpg);
    background-size: cover;
}
#about-information #gallery #image-6:hover #image-text3 {
    display: block;
    transition: all 1s;
    opacity: .8;
}


