/*About ME PAGE*/

#about-hero {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/milessmith/image/upload/v1581229433/Personal%20Site/IMG_8185_1.jpg");
    background-position: 90% 30%;
    
}
#about-information .text-wrapper p, ul{
    font-size: 18px; 
    padding-top: 8px;
}

#about-information .image-wrapper{
    padding: 5px;
}
#about-information .image-wrapper img{
    border: 1px solid black;
    border-radius: 8px;
    
}

#about-information #gallery {
    padding: 15px;
}
#about-information #gallery .image-wrapper{
    width: 100%;
    height: 300px;
    border-radius: 4px;
    padding: 0;
}
#about-information #gallery .image-wrapper .image-item-text{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
     transition: 1s;
    opacity: 0;
}

#about-information #gallery #image-1 {
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1581226330/Personal%20Site/IMG_20190620_203433_1.jpg);
    background-position: center;
    background-size: cover;
}
#about-information #gallery #image-1:hover #image-text1 {
      transition: all 1s ease-in-out;
    display: block;
    opacity: .8;
}

#about-information #gallery #image-2{
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1581226329/Personal%20Site/IMG_6576-2.jpg);
    background-size: cover;
}
#about-information #gallery #image-2:hover #image-text2 {
    display: block;
    transition: all 1s;
        opacity: .8;

}

#about-information #gallery #image-3{
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1590000117/Personal%20Site/IMG_8778.jpg);
    background-size: cover;
}
#about-information #gallery #image-3:hover #image-text3 {
    display: block;
    transition: all 1s;
    opacity: .8;
}


#about-information #gallery #image-4{
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1581835548/Personal%20Site/IMG_20190812_211706_1.jpg);
    background-size: cover;
}
#about-information #gallery #image-4:hover #image-text3 {
    display: block;
    transition: all 1s;
    opacity: .8;
}

#about-information #gallery #image-5{
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1583217574/Personal%20Site/Snapchat-1292623116.jpg);
    background-size: cover;
}
#about-information #gallery #image-5:hover #image-text3 {
    display: block;
    transition: all 1s;
    opacity: .8;
}


#about-information #gallery #image-6{
    background-image: url(https://res.cloudinary.com/milessmith/image/upload/v1590000520/Personal%20Site/IMG_8906.jpg);
    background-size: cover;
}
#about-information #gallery #image-6:hover #image-text3 {
    display: block;
    transition: all 1s;
    opacity: .8;
}


